
.container{	
width:480px;	
height:570px;
margin:0 auto;	
border: 5px solid red;


}

.tile {
 height:100px;
 width:100px;
 background-color:black;
 margin:10px;
 float:left;
}

.h1
{
text-align:center;	
	
	
	
}